KAFKA_CLIENT_BOOTSTRAP=kafka-b1:19092
KAFKA_BROKER_B1_ADVERTISED=kafka-b1:19092
KAFKA_BROKER_B2_ADVERTISED=kafka-b2:19093
KAFKA_BROKER_B3_ADVERTISED=kafka-b3:19094
KAFKA_ACKS=all
KAFKA_ENABLE_IDEMPOTENCE=true
